################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ElibraryApp.Web/bin/Debug/net8.0
/ElibraryApp.Web/obj
*obj
*bin
